<h1>Current time</h1>

<p>
  The picture below was rendered from <a href="/now">this page</a> by PhantomJS. 
  Refresh browser to see time changes.
</p>
<img src="images/screenshot.png" style="box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);"/>
